@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gotchic";
  src: url("./fonts/NanumGothic-Regular.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
